title: Activate! Hub
---META

- content_for :head do
  %script{:type => "text/javascript", :src => "/js/bootstrap-twipsy.js"}
  %script{:type => "text/javascript", :src => "/js/bootstrap-popover.js"}
  -#Ideally, we'd select '.cities a' instead of '.cities img', but the a element's line height is 
  -#like 18px instead of the height of the image, so the popover gets aligned strangely (not vertically centered)
  :javascript
    $(function () {
      $(".cities img")
        .popover({
          placement: "left",
          offset: 10
        })
      $(".front-hero a.btn")
        .popover({
          placement: "above",
          offset: 10
        })
    })
.row
  .logo.span12
    %img{:src => "/images/web_logo.png", :alt => 'Activation Calendar'}
  .cities.span4
    %a#portland{:href => "http://beta.activatepdx.org/", :title=>"Heads up" } 
      %img{:src => "/images/logo_pdx_sm.png", :alt => 'Portland Calendar', :title=>"Heads up", 'data-content'=>"The Portland site is currently in an active pre-alpha. Check out the blog for the latest news!"}
    %hr
    %a#seattle{:href => "#", :title=>"Coming soon"}
      %img{:src => "/images/logo_sea_sm_inactive.png", :alt => 'Seattle Calendar', :title=>"Coming Soon", 'data-content'=>"We will be launching in Seattle following the Portland pilot."}
    %a#bay{:href => "#", :title=>"Coming soon"}
      %img{:src => "/images/logo_bay_sm_inactive.png", :alt => 'San Francisco Bay Calendar', :title=>"Coming soon", 'data-content'=>"We will be launching in San Francisco following the Portland pilot."}

.hero-unit.front-hero
  %p A calendar of all the Progressive, Educational, Volunteer-Oriented events in your city, filterable by event type, topic and neighborhood.
  %a.btn.primary.large{:href => 'http://www.activatepdx.org/', :title=>"Learn more", 'data-content'=>"Visit our blog to find out more about the project"} Learn more »
  %a.btn.primary.large{:href => 'http://www.activatepdx.org/get_involved', :title=>"Get involved", 'data-content'=>"Find out how you can get involved in the project."} Get involved »
